In [1]:
import pandas as pd
import numpy as np

In [13]:
image_folder_path = "C:/Users/louis/github_vs/113_data/2017"
df = pd.read_csv(image_folder_path+"/201707"+"/message_info.tsv",sep="\t")
df["event_id"] = df["event_id"].astype("string")+df["message_id"].astype("string")
df.drop("message_id",axis=1,inplace=True)
df

          event_id    user_handle  sec_since_start
0        cl0709090       system_1              0.0
1        cl0709091  employee03119              9.0
2        cl0709092         client             44.0
3        cl0709093  employee03119             64.0
4        cl0709094       system_8             70.0
...            ...            ...              ...
116352  cl07242691         client           2989.0
116353  cl07242692  employee00064           3027.0
116354  cl07242693         client           3057.0
116355  cl07242694  employee00064           3112.0
116356  cl07242695       system_2           3118.0

[116357 rows x 3 columns]

In [10]:
df = pd.read_csv(image_folder_path+"/201707"+"/CDS_results.tsv",sep="\t")
df

,event_id,message_id,ik ben een,hij is een,z(e|ij) is een,z(e|ij) zijn een,(het|'t) is een,d(a|i)t is een,waardeloos in,slecht in,...,ik heb( .+ | )veroorzaakt,ik voel m(ij|e) verantwoordelijk,(he|al)lemaal door mij,allemaal mijn (schuld|fout),mijn fout,mijn verantwoordelijkheid,zou(den)? moeten,moet(en)?,had(den)? moeten,heb(ben)? moeten
0,cl070909,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,cl070909,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,cl070909,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,cl070909,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,cl070909,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116352,cl072426,91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116353,cl072426,92,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116354,cl072426,93,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
116355,cl072426,94,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
116356,cl072426,95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0